body {
  font-family: Didot, Didot LT STD, Hoefler Text, Garamond, Calisto MT, Times New Roman, serif;
}

.french {
  font-family:'Monotype Corsiva','Apple Chancery','ITC Zapf Chancery','URW Chancery L',cursive;
}

.caption {
  font-family:'Courier New', Courier, monospace;
  background-color: #e0e0e0;
  text-align: center;
  padding: 3px;
  font-size: .8em;
}

.imagebox {
  margin: 1%;
  border: 3px double #000000;
  padding: 1px;
  float: left;
  box-sizing: content-box;
  width: min-content;
}

.imageboxr {
  margin: 1%;
  border: 3px double #000000;
  padding: 1px;
  float: right;
  box-sizing: content-box;
  width: min-content;
}


.xtextbox {
  float: right;
  box-sizing: content-box;
  width: 60%;
}

.fixedtitle {
  position: fixed;
  background-color: white;
  padding: 3px 6px 3px 6px;
  width: 100%;
}

.fixedtitle ul li {
  list-style-type: none;
  padding: 0 3% 0 0;
  display: inline;
}

.hiddentitle {
  visibility: hidden;
  background-color: white;
  padding: 3px 6px 3px 6px;
  width: 100%;
}

.hiddentitle ul li {
  list-style-type: none;
  padding-left: 6px;
  display: inline;
}

.small {
  font-size: .7em;
  color: #8A8A8A;
}

ul, ol {
  list-style-position: inside;
  padding-left:15px;
}

a:link {
  color: #000000;
}

a:visited {
  color: #000000;
}
a:hover {
  color: #444444;

a:active {
  color: #494949;
}

